<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Content Management System</title>
    <link rel="stylesheet" href="/stylesheets/cms.css">
    <link rel='favicon' href="favicon.ico">
  </head>
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
