<form action='/new' method='post'>
  <label for='new_document'>Enter a new document name:</label>
  <div>
    <input name='new_document' type='text' value=''>
    <input type ='submit' value='Create'>
  </div>
</form>
